body{
    margin: 0 auto;
    display: flex;
}

.board{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    width: 720px;
    height: 720px;
}

.box{
    background: #fff;
    border: 1px solid #444;
}
.free{
    background-image: url("/game_assets/grass.png");
}

.obstacle{
    background: red;
}
.player1{
    background: linear-gradient(blue, black);
}

.player2{
    background: linear-gradient(yellow, white);
}

.score-board{
    
    width: 20%;
    height: 937px;
    background: #444;
}

.score-board-text{
    height: 300px;
    border: 1.2px dashed #fff;
    margin-bottom: 10px;
    color: #fff;
    font-size: large;
    font-family: 'Space Mono', monospace;
}



ul{
    list-style-type: none;
}

/* ALL THE GUN */
.hand_gun{
    
    background-image: url('/game_assets/HandWeapon1.png'),url("/game_assets/grass.png");
    background-repeat: no-repeat;
    background-size: contain, auto;
    background-position: center,center;
}

.revolver_38{
    content: url('/game_assets/Revolver1.png');
    background-image: url("/game_assets/grass.png");
}
.revolver_22{
    content: url('/game_assets/Revolver2.png');
    background-image: url("/game_assets/grass.png");
}

.shot_gun_cross{
    content: url('/game_assets/Shotgun1.png');
    background-image: url("/game_assets/grass.png");
}


.shot_gun_simple{
    content: url('/game_assets/Shotgun2.png');
    background-image: url("/game_assets/grass.png");
}