body{
    margin: 0 auto;
    display: flex;
}

.board{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    width: 80%;
    height: 937px;
}

.box{
    background: #fff;
    border: 1px solid #444;
}
.free{
    background: green;
}

.obstacle{
    background: red;
}
.player1{
    background: linear-gradient(blue, black);
}

.player2{
    background: linear-gradient(yellow, white);
}

.score-board{
    
    width: 20%;
    height: 937px;
    background: #444;
}

.score-board-text{
    height: 300px;
    border: 1.2px dashed #fff;
    margin-bottom: 10px;
    color: #fff;
    font-size: large;
    font-family: 'Space Mono', monospace;
}



ul{
    list-style-type: none;
}