body{
    margin: 0 auto;
    display: flex;
}

.board{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    width: 1550px;
    height: 937px;
}

.box{
    background: #fff;
    border: 1px solid #444;
}
.free{
    background-image: url("/game_assets/grass.png");
}

.obstacle{
    background-image: url('/game_assets/obstacles.png'),url("/game_assets/grass.png");
    background-repeat: no-repeat;
    background-size: contain, auto;
    background-position: center,center;
}
.player1{
    background-image: url('/game_assets/adventurer_swim1.png'),url("/game_assets/grass.png");
    background-repeat: no-repeat;
    background-size: contain, auto;
    background-position: center,center;
}

.player2{
    background-image: url('/game_assets/soldier_swim2.png'),url("/game_assets/grass.png");
    background-repeat: no-repeat;
    background-size: contain, auto;
    background-position: center,center;
}

.score-board{
    
    width: 20%;
    height: 937px;
    background: #444;
}

.score-board-text{
    height: 300px;
    border: 1.2px dashed #fff;
    margin-bottom: 10px;
    color: #fff;
    font-size: large;
    font-family: 'Space Mono', monospace;
}



ul{
    list-style-type: none;
}

/* ALL THE GUN */
.pistol{
    background-image: url('/game_assets/pistol2.png'),url("/game_assets/grass.png");
    background-repeat: no-repeat;
    background-size: contain, auto;
    background-position: center,center;
}

.revolver{
    background-image: url('/game_assets/revolver2.png'),url("/game_assets/grass.png");
    background-repeat: no-repeat;
    background-size: contain, auto;
    background-position: center,center;
}
.sniper{
    background-image: url('/game_assets/sniper2.png'),url("/game_assets/grass.png");
    background-repeat: no-repeat;
    background-size: contain, auto;
    background-position: center,center;
}

.shotgun{
    background-image: url('/game_assets/shotgun.png'),url("/game_assets/grass.png");
    background-repeat: no-repeat;
    background-size: contain, auto;
    background-position: center,center;
}


.assaultriffle{
    background-image: url('/game_assets/assaultrifle.png'),url("/game_assets/grass.png");
    background-repeat: no-repeat;
    background-size: contain, auto;
    background-position: center,center;
}